<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sophia.cake.mapper.BasicMapper">

    <!-- 基于Basic的BasicVo对象 -->
    <resultMap id="basicVo" type="BasicVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="unit" column="unit"/>
        <result property="capacity" column="capacity"/>
        <result property="price" column="price"/>
        <association property="formulas" column="id" fetchType="lazy"
                     select="com.sophia.cake.mapper.MaterialFormulaMapper.findFormulaVoByBasicId"/>
    </resultMap>

    <!-- 基于Basic的BVo对象 -->
    <resultMap id="bvo" type="BVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <!-- 添加基础产品Vo -->
    <insert id="addBasicVo" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        insert into t_basic(NAME, PRICE, CAPACITY, UNIT)
        VALUES (#{name}, #{price}, #{capacity}, #{unit})
    </insert>

    <!-- 根据ID删除基础产品 -->
    <delete id="deleteBasicById">
        delete
        from t_basic
        where id = #{id}
    </delete>

    <!--  更新基础产品Vo -->
    <update id="updateBasicVo">
        update t_basic
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">NAME=#{name},</if>
            <if test="unit!=null">UNIT=#{unit},</if>
            <if test="capacity!=null">CAPACITY=#{capacity},</if>
            <if test="price!=null">PRICE=#{price},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 更新基础产品的价格 -->
    <update id="updateBasicPrice">
        update t_basic
        set PRICE=#{price}
        where id = #{id}
    </update>

    <!-- 根据基础产品的ID查找基础产品Vo -->
    <select id="findBasicVoById" resultMap="basicVo">
        select *
        from t_basic
        where id = #{id}
    </select>

    <!-- 查找所有的基础产品的BVo -->
    <select id="findBVos" resultMap="bvo">
        select id, name
        from t_basic
    </select>

    <!-- 查找所有的基础产品Vo -->
    <select id="findBasicVos" resultMap="basicVo">
        select *
        from t_basic
    </select>

    <!-- 根据名字查找所有的基础产品Vo -->
    <select id="findBasicVosByName" resultMap="basicVo">
        select *
        from t_basic
        where NAME like #{name}
    </select>

    <!-- 查找原材料的数量 -->
    <select id="findBasicCount" resultType="Integer">
        select count(*)
        from t_basic
    </select>
    
    <!-- 根据名字查找基础产品的数量 -->
    <select id="findBasicByNameCount" resultType="Integer">
        select count(*)
        from t_basic
        where NAME like #{name}
    </select>

    <!-- 分页查找所有的基础产品Vo -->
    <select id="findPageBasicVos" resultMap="basicVo">
        select *
        from t_basic
        order by id
        limit #{index}, #{pageSize}
    </select>
    
    <!-- 根据名字分页查找所有的基础产品Vo -->
    <select id="findPageBasicVosByName" resultMap="basicVo">
        select *
        from t_basic
        where NAME like #{name}
        order by id
        limit #{index}, #{pageSize}
    </select>

</mapper>