<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sophia.cake.mapper.MaterialMapper">
    <!-- Material对象 -->
    <resultMap id="material" type="Material">
        <id property="id" column="id"/>
        <result property="capacity" column="capacity"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="pricePerUnit" column="price_per_unit"/>
        <result property="unit" column="unit"/>
    </resultMap>

    <!-- 基于Material对象的MVo对象 -->
    <resultMap id="mvo" type="MVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <!-- 添加一个原材料 -->
    <insert id="addMaterial" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_material(CAPACITY, NAME, PRICE, PRICE_PER_UNIT, UNIT)
        VALUES (#{capacity}, #{name}, #{price}, #{pricePerUnit}, #{unit})
    </insert>

    <!-- 删除原材料 -->
    <delete id="deleteMaterialById">
        delete
        from t_material
        where id = #{id}
    </delete>

    <!-- 更新原材料 -->
    <update id="updateMaterial">
        update t_material
        <trim prefix="set" suffixOverrides=",">
            <if test='name!=null'>NAME=#{name},</if>
            <if test='capacity!=null'>CAPACITY=#{capacity},</if>
            <if test='unit!=null'>UNIT=#{unit},</if>
            <if test='price!=null'>PRICE=#{price},</if>
            <if test='pricePerUnit!=null'>PRICE_PER_UNIT=#{pricePerUnit},</if>
        </trim>
        where id = #{id}
    </update>

    <!--  查找所有的原材料 -->
    <select id="findMaterialById" resultMap="material">
        select *
        from t_material
        where id = #{id}
    </select>

    <!-- 查找所有的原材料的MVo -->
    <select id="findMVos" resultMap="mvo">
        select id, name
        from t_material
    </select>

    <!--  查找所有的原材料 -->
    <select id="findMaterials" resultMap="material">
        select *
        from t_material
    </select>

    <!-- 根据名字找原材料集合 -->
    <select id="findMaterialsByName" resultMap="material">
        select *
        from t_material
        where name like #{name}
    </select>

    <!-- 查找原材料的数量 -->
    <select id="findMaterialCount" resultType="Integer">
        select count(*) from t_material
    </select>

</mapper>