<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sophia.cake.mapper.MiddleMapper">

    <!-- 基于Middle的MiddleBo对象 -->
    <resultMap id="middleBo" type="MiddleBo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="unit" column="unit"/>
        <result property="capacity" column="capacity"/>
        <result property="price" column="price"/>
        <association property="materials" column="id" fetchType="lazy"
                     select="com.sophia.cake.mapper.MaterialFormulaMapper.findFormulaVoByMiddleId"/>
        <association property="basics" column="id" fetchType="lazy"
                     select="com.sophia.cake.mapper.BasicFormulaMapper.findFormulaVoById"/>
    </resultMap>

    <!-- 添加中级产品Vo -->
    <insert id="addMiddleVo" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_middle(NAME, PRICE, CAPACITY, UNIT)
        VALUES (#{name}, #{price}, #{capacity}, #{unit})
    </insert>

    <!-- 根据ID删除中级产品 -->
    <delete id="deleteMiddleById">
        delete
        from t_middle
        where id = #{id}
    </delete>

    <!-- 更新中级产品Vo -->
    <update id="updateMiddleVo">
        update t_middle
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">NAME=#{name},</if>
            <if test="unit!=null">UNIT=#{unit},</if>
            <if test="capacity!=null">CAPACITY=#{capacity},</if>
            <if test="price!=null">PRICE=#{price},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 更新中级产品的价格 -->
    <update id="updateMiddlePrice">
        update t_middle
        set PRICE=#{price}
        where id = #{id}
    </update>

    <!-- 查找所有的中级产品VO的集合 -->
    <select id="findMiddleBos" resultMap="middleBo">
        select *
        from t_middle
    </select>

    <!-- 根据名字查找所有的中级产品VO的集合 -->
    <select id="findMiddleBosByName" resultMap="middleBo">
        select *
        from t_middle
        where NAME like #{name}
    </select>

    <!-- 查找指定ID的中级产品VO -->
    <select id="findMiddleBoById" resultMap="middleBo">
        select *
        from t_middle
        where id = #{id}
    </select>

</mapper>