<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">
    <resultMap id="basicFormula" type="BasicFormula">
        <id property="id" column="id"/>
        <result property="count" column="count"/>
        <result property="price" column="price"/>
        <association property="basic" column="id" fetchType="lazy"
                     select="com.sophia.cake.mapper.BasicMapper.findById"/>
    </resultMap>


    <select id="findById" resultMap="basicFormula">
        select *
        from t_basic_formula
        where MIDDLE_id = #{id}
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_basic_formula(COUNT, PRICE)
        VALUES (#{count}, #{price})
    </insert>

    <update id="updateMiddle">
        update t_basic_formula
        set MIDDLE_id = #{middleId}
        where id = #{id}
    </update>

    <update id="updateBasic">
        update t_basic_formula
        set BASIC_id = #{basicId}
        where id = #{id}
    </update>

    <delete id="deleteMiddle">
        delete
        from t_basic_formula
        where middle_id = #{id}
    </delete>

    <update id="updateFormula">
        update t_basic_formula
        <trim prefix="set" suffixOverrides=",">
            <if test="count!=null">COUNT=#{count}</if>
            <if test="price!=null">PRICE=#{price}</if>
            <if test="middleId!=null">MIDDLE_id=#{middleId}</if>
            <if test="basicId!=null">BASIC_id=#{basicId}</if>
        </trim>
        where id = #{id}
    </update>
</mapper>