<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">

    <resultMap id="middle" type="Middle">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <association property="materialFormulaSet" column="id" fetchType="lazy"
                     select="com.sophia.cake.mapper.MaterialFormulaMapper.findById"/>
        <association property="basicFormulaSet" column="id" fetchType="lazy"
                     select="com.sophia.cake.mapper.BasicFormulaMapper.findById"/>
    </resultMap>

    <select id="findAll" resultMap="middle">
        select * from t_middle
    </select>

    <delete id="delete">
        delete from t_middle where id = #{id}
    </delete>

    <update id="update">
        update t_middle
        <trim prefix="set" suffixOverrides=",">
            <if test='name!=null'>NAME=#{name}</if>
            <if test='price!=null'>PRICE=#{price}</if>
        </trim>
        where id = #{id}
    </update>
</mapper>